.au-c-table{
  width: 100%;
  border-collapse: collapse;

  &.is-empty{
    position: relative;
    tr{
      td{
        border-bottom: none;
        background: none !important;
        div{
          @include center(horizontal);
          position: absolute;
          top: 200px;
          font-size: 2rem;
          color: #aaa;
          text-align: center;
        }
      }
    }
  }

  .au-c-table__tr-focused {
    cursor: pointer;
  }

  .au-deleting-assessment {
    height: 5rem;
    position: relative;
    .loader {
      position: absolute;
      top: 10px;
      left: 50px;
    }
  }

  th{
    height: 5rem;
    border-bottom: $border;
    background: $gray1;
    @include semi-bold;
    font-size: 1.2rem;
    color: $gray8;
    text-align: left;
    vertical-align: middle;

    &:nth-of-type(1){
      padding-left: 2rem;
      width: 6rem;
    }
    &:nth-of-type(2){
      width: 50%;
    }
    &:nth-of-type(3){

    }
    &:nth-of-type(4){
      padding-right: 2rem;
    }

    .au-c-table__filter{
      position: relative;
      background: none;
      border: none;
      padding: 1rem 3rem 1rem 0;
      @include bold;
      font-size: 1.2rem;
      color: $gray8;
      height: 3.5rem;
      cursor: pointer;

      i{
        font-size: 2rem;
        color: $gray8;
        position: absolute;

        &.top{
          top: 0rem;
          right: 0;
        }
        &.bottom{
          bottom: -0.2rem;
          right: 0;
        }

        &.is-active{
          color: $purple;
        }
      }

      &.is-active{
        // @include bold;
        color: $purple;
      }
    }
  }

  tr{

    .au-c-table__btn {
      background-color: $white;
      margin-left: 1rem;
      color: $purple2;

      i{
        color: $purple2;
      }

      &:hover, &:focus{
        background-color: $purple2;
        color: $white;
        outline-color: $purple2;
        outline-width: 0.15em;
        outline-offset: 0.2em;

        button {
          background-color: $purple2;
          color: $white;
        }

        i{
          color: $white;
        }
      }
      &.is-inactive{
        color: rgba(129, 129, 129, 0.5);
        pointer-events: none;
        i{
          color: currentColor;
        }
      }
    }

    .au-c-publish{

      &:hover, &:focus{
        background-color: $purple2;
        color: $white;
        outline-color: $purple2;
        outline-width: 0.15em;
        outline-offset: 0.2em;

        i{
          color: $white;
        }

        &.is-published{
          background-color: $green;
          i{
            color: $white;
          }
        }
      }
    }

    .au-c-table__icons{
      @include display-flex;
      @include align-items(center);
      @include justify-content(flex-end);
    }

    .au-c-publish{

    }

    .au-c-scrollable{
      min-height: 60rem;
    }

    .au-c-input--purple{
      @include flex(1);

      .au-c-text-input{
        color: $purple2;
        border: 0.2rem solid $purple2;
        border-right: none;
        background: $white;
        border-radius: $radius 0 0 $radius;
        width: 100%;
        padding: 0 1rem;

        &:focus{
          border-style: dotted;
        }
      }
    }

    .au-c-embed-contain{
      width: 100%;
      @include flex(1);
      @include display-flex;
      @include align-items(center);
    }

    .au-c-btn--embed{
      border-radius: 0 $radius $radius 0;
      border: 0.2rem solid $purple2;
      background-color: $white;
      color: $purple2;
      @include transition(all 0.1s ease);
      display: block;
      position: relative;

      i{
        position: absolute;
        @include center(horizontal);
        top: 0.3rem;
        width: 3rem;
        height: 3rem;
        color: $purple2;
        @include transition(color 0.1s ease);
      }

      &:hover, &:focus{
        background-color: $purple2;

        i{
          color: $white;
        }
      }
    }

    &:hover {

      td{
        background: $purple;

        &:nth-of-type(1){
          i{
            color: $white;
          }
        }
        &:nth-of-type(2){
          @include semi-bold;
          color: $white;
        }
        &:nth-of-type(3){
          i{
            color: $white;
          }
        }
        &:nth-of-type(4){

        }
      }

      .au-c-table__btn {
        background-color: $purple2;
        margin-left: 1rem;
        color: $white;

        i{
          color: $white;
        }

        &:hover, &:focus{
          background-color: $white;
          color: $purple2;
          outline-color: $white;
          outline-width: 0.15em;
          outline-offset: 0.2em;

          button {
            background-color: $purple2;
            color: $white;
          }

          i{
            color: $purple;
          }
        }
        &.is-inactive{
          color: $purple2;
          background-color: $purple;
          pointer-events: none;
          i{
            color: $purple2;
          }
        }
      }

      .au-c-publish{
        background-color: $purple2;
        color: $white;

        i{
          color: $white;
        }

        &:hover, &:focus{
          background-color: $white;
          color: $purple2;
          outline-color: $white;
          outline-width: 0.15em;
          outline-offset: 0.2em;

          i{
            color: $purple;
          }

          &.is-published{
            i{
              color: $purple2;
            }
          }
        }

        &.is-published{
          i{
            color: $white;
          }
        }
      }

      .au-c-btn--embed{
        border-radius: 0 $radius $radius 0;
        border: 0.2rem solid $purple2;
        background-color: $purple2;
        color: $white;
        @include transition(all 0.1s ease);
        display: block;
        position: relative;

        i{
          position: absolute;
          @include center(horizontal);
          top: 0.3rem;
          width: 3rem;
          height: 3rem;
          color: $white;
          @include transition(color 0.1s ease);
        }

        &:hover, &:focus{
          background-color: $white;

          i{
            color: $purple;
          }
        }
      }

      .au-c-input--purple{
        @include flex(1);

        .au-c-text-input{
          color: $white;
          border: 0.2rem solid $purple2;
          border-right: none;
          background: $purple;
          border-radius: $radius 0 0 $radius;
          width: 100%;
          padding: 0 1rem;

          &:focus{
            border-style: dotted;
            border-color: $white;
          }
        }
      }
    }

    &:focus{
      outline: 2px dotted $purple2;

      .au-c-input--purple{
        @include flex(1);

        .au-c-text-input{
          color: $white;
          border: 0.2rem solid $purple2;
          border-right: none;
          background: $purple;
          border-radius: $radius 0 0 $radius;
          width: 100%;
          padding: 0 1rem;

          &:focus{
            border-style: dotted;
          }
        }
      }

      .au-c-btn--embed{
        border-radius: 0 $radius $radius 0;
        border: 0.2rem solid $purple2;
        background-color: $purple2;
        color: $white;
        @include transition(all 0.1s ease);
        display: block;
        position: relative;

        i{
          position: absolute;
          @include center(horizontal);
          top: 0.3rem;
          width: 3rem;
          height: 3rem;
          color: $white;
          @include transition(color 0.1s ease);
        }

        &:hover, &:focus{
          background-color: $white;

          i{
            color: $purple;
          }
        }
      }
    }

    td{
      height: 5rem;
      border-bottom: $border;
      vertical-align: middle;

      i{
        font-size: 2rem;
      }

      &:nth-of-type(1){
        padding-left: 2rem;
        width: 6rem;
        i{
          color: $gray9;
        }
      }
      &:nth-of-type(2){
        @include regular;
        font-size: 1.4rem;
        color: $text-color;
        width: 50%;
        @include truncate;
      }
      &:nth-of-type(3){
        i{
          color: $purple2;
        }
        .is-published{
          i{
            color: $green;
          }
        }
      }
      &:nth-of-type(4){
        padding-right: 2rem;
      }
    }
  }
}
