.au-u-ml-md{
  margin-left: 2rem !important;
}

.au-u-mt-md{
  margin-top: 2rem !important;
}

.au-u-mb-md{
  margin-bottom: 2rem !important;
}


.au-u-ml-sm{
  margin-left: 1rem !important;
}

.au-u-mt-sm{
  margin-top: 1rem !important;
}

.au-u-mr-sm{
  margin-right: 1rem !important;
}

.au-u-right{
  margin-left: auto !important;
}

*:focus {
  outline: 0.15em dotted;
  outline-offset: 0.25rem;
}

a.help-link,
a.help-link:visited,
a.help-link:link {
  text-decoration: underline;

  i.open-external {
    font-size: 1.5rem;
    margin-left: 0.3rem;
  }
}
